	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-size: 1em;
		font-family: Arial, Times New Roman, sans-serif;
	}

	h1 {
		font-size: 1.75em;
		text-align: center;
		margin: 30px 0;
	}

	.row {
		width: 100%;
	}

	.item {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		background-color: #b9b9b9;
		border: 1px solid black;
	}

	#s1 .header {
		background-color: #f5899d;
	}

	#s2 .header {
		background-color: #ff3563;
		color: white;
	}

	#s3 .header {
		background-color: #e1f18c;
	}

	.desc {
		clear: right;
		padding: 5px 10px;
	}
	.header {
		position: relative;
    	right: -1px;
    	top: -1px;
		float: right;
		width: 140px;
		padding: 5px 30px;
		font-size: 1.25em;
		border: 1px solid black;
		text-align: center;
	}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 33%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}

	#s3 {
		margin-top: 15px;
	}

	#s3 .item {
		width: 97%;
	}
}

@media (max-width: 767px) {
	.col-xs-12 {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
}
